body {
  margin: 100px;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
}
.col{
  margin-top: 0px;
}
.form-control{
  margin-bottom: 20px;
}
.logoutButton{
  float: right;
  margin-right: 200px;
}
.btn-warning{
  margin: 10px;
}
.users{
  margin: auto;
  text-align: center;
}
.header{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 37px;
  margin: auto;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}